.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: lightpink;
  }

  .destiny-form-button {
    background-color: rgb(131, 212, 10);
    color: rgb(62, 25, 97);
    margin: 5px;
    padding: 3px;
    border-radius: 10px;

  }