* {
    margin: 9px
}

.girl-list  {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    color: rgb(59, 79, 87);
    margin: 10px;
  
}


.girl-essentials {
    color: rgb(30, 100, 112);
    font-size:  2rem; 
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding-top: 10px;
}


.girl {
    color: rgb(87, 7, 80);
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
}
.header h1{
    display: flex;
    justify-content: center;
    margin: 3px;
    padding: 5px;
    border-bottom: 2px solid rgb(3, 87, 59);
    color: rgb(8, 94, 22);
} 

.footer{
 display: flex;  
     text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(2, 71, 54);
    gap: 10px;
    color: rgb(3, 80, 3);
} 
.plus-button {
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(51, 145, 113);
    
}
.minus-button {
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(14, 158, 168);
}

.packed  {
    background-color: rgb(113, 148, 160);
    margin: 5px;
    padding: 3px;
}
.packed::after {
    background-color: rgb(36, 37, 37);
}
.not-packed {
background-color: rgb(1, 104, 1);
}