* {
    margin: 9px
}

.boy-list  {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    color: rgb(170, 205, 218);
    margin: 10px;
  
}


.boy-essentials {
    color: rgb(30, 100, 112);
    font-size:  2rem; 
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding-top: 10px;
}


ol {
    color: rgb(77, 7, 71);
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
}
.header h1{
    display: flex;
    justify-content: center;
    margin: 3px;
    padding: 5px;
    border-bottom: 2px solid purple;
    color: rgb(10, 85, 23);
} 

.footer{
 display: flex;  
     text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 2px solid purple;
    gap: 10px
} 
.plus-button {
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(51, 145, 113);
    
}
.minus-button {
    margin: 10px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(14, 158, 168);
}

.packed  {
    background-color: rgb(113, 148, 160);
    margin: 5px;
    padding: 3px;
}
.packed::after {
    background-color: rgb(36, 37, 37);
}
.not-packed {
background-color: rgb(1, 104, 1);
}